body {
  box-sizing: border-box;
  font-family: sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  background-color: #4f2555;
  padding: 20px;
}

.container {
  height: 5vh;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #4caf50;

  font-size: 20px;
  font-weight: bold;
  text-decoration: wavy;
  text-decoration-style: wavy;
}
.image-logo {
  width: 24px;
}

.nav ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.nav li {
  list-style: none;
}

.nav a {
  padding: 10px;
  text-decoration: none;
  color: #edf0f2;
}

.nav a:hover {
  color: #4caf50;
}
.nav-toggle {
  display: none;
}
/* Responsive styles */

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .nav-toggle {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .nav-toggle-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #edf0f2;
    margin: 5px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .nav-toggle {
    display: none;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 10;
    display: none; /* Initially hidden */
  }

  .nav-toggle:checked + .nav ul {
    display: block;
  }
}

main {
  padding: 20px;
}

.booking-form {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f5f5f5;
}
.cta {
  max-width: max-content;
}

.booking-form label {
  display: block;
  margin-bottom: 5px;
}

.booking-form input {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

.about-us,
.testimonials {
  margin-top: 20px;
}

.testimonials {
  margin-top: 50px;
}

.testimonial-cards {
  display: flex;
  gap: 20px;
}

.testimonial-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(33% - 20px); /* Adjust width as needed */
}

.testimonial-card p {
  color: #888;
  margin-bottom: 10px;
}
.rating {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}

.gold-star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: gold;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

footer {
  color: #4caf50;
  background-color: #4f2555;
  text-align: center;
  padding: 10px;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .testimonial-card {
    width: 100%;
  } /* 1 card per row on smaller screens */
}

@media (max-width: 576px) {
  .testimonial-card {
    font-size: 0.85em;
  } /* Reduce font size for better readability */
  .testimonial-cards {
    flex-wrap: wrap;
  } /* Reduce font size for better readability */
  .about-us {
    flex-wrap: wrap;
  } /* Reduce font size for better readability */
}
.banner {
  background-repeat: no-repeat;
  height: 50vh;
  background-size: cover; /* Ensure image covers the section fully */
  background-position: center; /* Center the image */
  display: flex;
  align-items: center;
  justify-content: center; /* Center content within the header */
  background-image: url(/Bard_Generated_Image.jpeg);
}
.banner h2 {
  color: rgba(
    230,
    215,
    215,
    0.777
  ); /* Ensure text is visible against the background */
  font-size: 4rem; /* Adjust font size as needed */
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional: Add text shadow for better readability */
}
@media (max-width: 768px) {
  .banner h2 {
    font-size: 2rem;
  }
}
.headers {
  color: #4caf50;
  padding: 10px;
  text-align: center;
}
.section {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(33% - 20px); /* Adjust width as needed */
}
.section img {
  width: 100%;
  border-radius: 8px;
}
.section p {
  color: #888;
}
.about-us {
  display: flex;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} /* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  border-radius: 4px;
  cursor: wait;
  gap: 2rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be wider or narrower */
  text-align: center;
}
.custom-loader {
  margin-top: 1.5rem;
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #4caf50;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: s7 1s infinite steps(8);
}

@keyframes s7 {
  100% {
    transform: rotate(1turn);
  }
}
.contact {
  display: grid;
  place-items: center;
}
